
<div class="col-md-6 offset-md-3">
    <h3> Register </h3>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
        <label>First Name</label>
        <input required type="firstName" class="form-control" name="firstName" [(ngModel)]="employee.firstName"  #firstName="ngModel"
        [class.is-invalid]="firstName.invalid && firstName.touched">
            <div *ngIf="firstName.errors && (firstName.invalid && firstName.touched)">
                <span class="text-danger" *ngIf="firstName.errors?.['required']">First Name required</span >
            </div>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input required type="lastName" class="form-control" name="lastName" [(ngModel)]="employee.lastName"  #lastName="ngModel"
        [class.is-invalid]="lastName.invalid && lastName.touched">
        <div *ngIf="lastName.errors && (lastName.invalid && lastName.touched)">
            <span class="text-danger" *ngIf="lastName.errors?.['required']">Last Name required</span >
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input required type="email" class="form-control" name="email" [(ngModel)]="employee.email"  #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched">
        <div *ngIf="email.errors && (email.invalid && email.touched)">
            <span class="text-danger" *ngIf="email.errors?.['required']">Email required</span >
        </div>
    </div>
    <div class="form-group">
        <label>Username</label>
        <input required type="username" class="form-control" name="username"  [(ngModel)]="employee.username"  #username="ngModel"
        [class.is-invalid]="username.invalid && username.touched">
        <div *ngIf="username.errors && (username.invalid && username.touched)">
            <span class="text-danger" *ngIf="username.errors?.['required']">Username required</span >
        </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input required type="password" class="form-control" name="password" [(ngModel)]="employee.password"  #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched">
        <div *ngIf="password.errors && (password.invalid && password.touched)">
            <span class="text-danger" *ngIf="password.errors?.['required']">Password required</span >
        </div>
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
    </form>
    <small class="danger">{{msg}}</small>
</div> 