<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li *ngIf="loggedIn()" class="nav-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
        </li>
        <li *ngIf="!loggedIn()" class="nav-item">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link"> Register </a>
        </li>
        <li *ngIf="!loggedIn()" class="nav-item">
            <a routerLink="login" routerLinkActive="active" class="nav-link"> Login </a>
        </li>  
        <li *ngIf="loggedIn()" class="nav-item">
            <a (click)="onLogout()" class="nav-link"> Logout </a>
        </li>  
    </ul>



</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container">
<!-- <app-employee-list></app-employee-list> -->
<router-outlet></router-outlet>
</div>
<!-- <footer class="footer">
    <div class="container">
        <span></span>
    </div>
</footer>  -->