/* You can add global styles to this file, and also import other style files */
/* @import "node_modules/bootstrap/dist/css/bootstrap.css" */

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #0d6efd;
    text-align: center;
    color: white;
}