<div class="col-md-6 offset-md-3">
  <h3> Login </h3>
  <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
  
  <div class="form-group">
      <label>Username</label>
      <input required type="email" class="form-control" name="username" placeholder="Enter Username" [(ngModel)]="employee.username"  #username="ngModel"
      [class.is-invalid]="username.invalid && username.touched">
      <div *ngIf="username.errors && (username.invalid && username.touched)">
        <span class="text-danger" *ngIf="username.errors?.['required']">Username required</span >
      </div>
  </div>
  
  <div class="form-group">
      <label>Password</label>
      <input required type="password" class="form-control"  placeholder="Enter Password" name="password" [(ngModel)]="employee.password" #password="ngModel"
      [class.is-invalid]="password.invalid && password.touched">
      <div *ngIf="username.errors && (password.invalid && password.touched)">
        <span class="text-danger" *ngIf="password.errors?.['required']">Password required</span >
      </div>
  </div>
  
  <button class="btn btn-success" click="loggedIn()">Login</button> 
  </form>
  <small class="danger">{{msg}}</small>
</div> 