<h2>Employee List</h2>
<!-- <input type="search" [(ngModel)] = test>
 <div *ngFor="let city of test | searchEmployee: test">
  {{employee.firstName}}
</div> --> 
<table class = "table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button>
                <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
            

        </tr>
    </tbody>

</table>